@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'Nekolina';
  font-display: block;
  font-weight: 400;
  src: local('Nekolina'),
    url('../assets/font/Nekolina.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-display: block;
  font-weight: 400;
  src: local('Ubuntu Mono'),
    url('../assets/font/UbuntuMono-R.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-display: block;
  font-weight: 700;
  src: local('Ubuntu Mono'),
    url('../assets/font/UbuntuMono-B.ttf') format('truetype');
}